<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13370881180-6teodkmrkvbam3qb162p98rfe8fj6l60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13370881180-6teodkmrkvbam3qb162p98rfe8fj6l60</string>
	<key>API_KEY</key>
	<string>AIzaSyDcB8_jpkzx7J0N-QhTsdZUSqttm-5QHDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>13370881180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cohenzuri.com.InstagramWithBackend</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-ac2fa</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-ac2fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13370881180:ios:2e91bec3bc2003475e6959</string>
</dict>
</plist>